.container {

  margin-top: 50px;
  @media (min-width: 992px){
    width: 50%;

  }

  .mySwiper {
    position: relative;

    width: 100%;
    height: 500px;
    --swiper-navigation-color: var(--btn-color);


    swiper-slide img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: fill;
      // object-position: center;
    }
    .top-layer{
      position: absolute;
      top: 20px;
      right: 20px;
      border-radius:10px;
      padding: 5px 10px;
      background: #28a745;
      color: var(--btn-color);
      font-size: 14px;
      z-index: 10;
    }
    .name-layer{
      position: absolute;
      bottom: 20%;
      left: 10%;
      color: var(--primary-color);
      z-index: 10;
      font-size: 50px;
      font-weight: 700;
      text-shadow: var(--p-color) 6px 06px 04px;
      text-transform: capitalize;
      @media (max-width: 768px) {
        font-size: 34px;
      }
      @media (max-width: 480px) {
        font-size: 25px;
      }

    }

    @media (max-width: 768px) {
      height: 300px;

    }

    @media (max-width: 480px) {
      height: 200px;


    }
  }

  .mySwiper2 {
    margin-top: 10px;

    width: 100%;
    height: 100px;

    swiper-slide img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @media (max-width: 768px) {
      height: 80px;
    }

    @media (max-width: 480px) {
      height: 60px;

    }
  }

  .customer{
    background: #E5E5E5;
  }
}
