.link-active{
  color: var( --primary-color);
  font-weight: 500;
   @media (max-width: 576px){
      padding-left: 15px;

    }
}

.navbar-toggler{
  border: none;
  color: var(--secondary-color);
  font-size: 29px;
  &:focus,
  &:active{
    box-shadow: none;
    border-color: none;
    outline: none;
  }
.navbar-toggler-icon{
    font-size: large;

}


}
.nav-item{
  margin-right: 1rem;
  .nav-link:not(.link-active){
    color: var(--secondary-color);
    &:hover:not(button .nav-link){
    color: var(--primary-color);
    transition: all .3s linear;
    padding-top: 1px;
    @media (max-width: 576px){
      padding-top: 8px;
      padding-left: 15px;

    }
  }
}

button .nav-link{
  font-size: 16px;
}
}
.navbar-collapse.show,#navbarNav{
  transition: all .5s ease-out;
}
