.container {
  margin-top: 80px;
  // height: 100vh;




  .first-row {
    .card {
      height: 300px;
      width: 100%;
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      cursor: pointer;

      @media (max-width: 768px) {
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .card-body {
        z-index: 2;

      }

      .top-layer {
        border-radius: 0 15px 0;
        background: var(--primary-color);
      }

      .bottom-layer {
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%);
        z-index: 1;
      }
    }
  }

  .second-row {
    .card {
      cursor: pointer;

      img {
        height: 240px;

        @media (max-width: 490px) {
          height: 200px;
        }

      }

      .top-layer {
        border-radius: 0 15px 0;
        background: var(--primary-color);
      }

      .title {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--secondary-color);
        margin-bottom: 5px;
      }

      .location {
        font-size: 14px;
        text-transform: capitalize;
        color: var(--mute-color);
      }
    }
  }
}
