.container {
  margin-top: 80px;
  // height: 100vh;




  .first-row {
    .card {
      height: 300px;
      width: 100%;
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      cursor: pointer;

      @media (max-width: 768px) {
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
          transform: scale(1.4);
          transition: all .3s linear;
        }
      }

      .card-body {
        z-index: 2;

      }

      .top-layer {
        border-radius: 0 15px 0;
        background: var(--primary-color);
      }

      .bottom-layer {
        background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%);
        z-index: 1;
      }
    }
  }

}
