
.container{
  padding-bottom: 20px;
  scroll-behavior: smooth;
  .home-container {
    padding-top: 80px;
    padding-inline: 0;
    height: calc(100vh - 75px);
      height: calc(90vh - 75px);

    @media (max-width: 992px) {
      padding-top: 30px;

    }

    @media (max-width: 768px) {
      height: calc(90vh - 75px);
      padding-top: 10px;
      padding-inline: 30px;

    }

    .content-sec {
      width: 40%;
      text-wrap: balance;

      .title {
        font-size: 50px;
        // text-wrap: balance;
        color: var(--secondary-color);

      }

      .sub-title {
        font-size: 18px;
        width: 70%;
        color: var(--mute-color);
        line-height: 1.6;

      }

      .features {
        gap: 5rem;
        text-transform: capitalize;
        img {
          width: 32px;
          height: 32px;
        }

      }

      @media (max-width: 1200px) {
        .title {
          font-size: 40px;
        }

        .sub-title {
          width: 90%;
        }

        .features {
          gap: 3rem;
        }
      }

      @media (max-width: 992px) {
        .sub-title {
          font-size: 16px;
          width: 96%;
        }
    .features {
          transform: translateY(-15px);
        }

      }

      @media (max-width: 768px) {
        width: 100%;
        padding-inline: 20px;
        text-align: center;
        .title {
          font-size: 50px;
        }

        .sub-title {
          width: 100%;
          font-size: 15px;
        }
        button{
          width: 60%;
        }

        .features {
          gap: 5rem 2rem;
        }
      }
        @media (max-width: 500px) {
      .features {
          gap: 2rem;
          img{
            width: 28px;
            height: 28px;
          }
          span{
            font-size: .9rem;
          }
        }
        }
        @media (max-width: 380px) {
          padding-inline: 0px;
            .title {
          font-size: 34px;
        }
      .features {
          gap: .7rem;
          img{
            width: 18px;
            height: 18px;
          }
          span{
            font-size: .75rem;
          }
        }
        }
    }

    .banner-sec {
      position: relative;
      width: 50%;
      height: 450px;
      margin-bottom: 40px;
      transition: all .3s linear;

      .banner-shadow {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 25px;

        img {
          border-radius: 150px 25px 25px;
          width: 90%;
          height: 100%;
          object-fit: cover;

        }

        &::after {
          content: '';
          position: absolute;
          top: 55px;
          left: 50px;
          width: 90%;
          height: 95%;
          border-radius: 150px 25px 25px;
          // border-radius:  25px;
          border: 1px solid #E5E5E5;
          z-index: -1;

          @media (max-width: 1200px) {
            top: 50px;
            left: 35px;

          }
        }

      }

      @media (max-width: 1200px) {
        width: 58%;
      }

      @media (max-width: 992px) {
        width: 66%;
        transform: translate(35px, 30px);
      }
      @media (max-width: 780px) {
        transform: translate(0px);
      }

    }


  }

  .blue-sec{
    transform: translateY(-0px);
      border-radius: 50rem;

    button:not(:last-child){
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      color: #1E1E1E;
      background: #fff;
      border: none;
      padding-block:10px;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;


    }

    img{
      @media   (max-width: 500px) {
        width: 20px;
      height: 20px;

    }



  }



  .date-field{
    left: 80px;
    transition: all .3s linear;
    color: var(--secondary-color);
    @media (max-width: 1400px) {
      left: 60px;
    }
    @media (max-width: 1200px) {
      left: 40px;
    }
    @media (max-width: 992px) {
      left:0px;
    }
    @media (max-width:768px) {
      left: 20px;
    }
    @media (max-width:680px) {
      left: 5px;
    }
  }



  @media (max-width: 768px) {
    // margin-top: 30px;
  //  transform: translateY(-140px);
  }
  @media (max-width: 500px) {
  //  transform: translateY(-130px);
    font-size: smaller;
  }
   @media  (max-width: 380px) {
      border-radius: 50px;
    }
  //   @media  (max-width: 380px) {
  //  transform: translateY(-100px);
  // }
  //   @media  (max-width: 296px) {
  //  transform: translateY(-30px);
  // }
  }
}


.translate-x{
          transform: translateX(-80px);
      @media   (max-width: 500px) {
        transform: translateX(-30px);
      }
    }
