<div class="container mt-5">

  <h5 class="w-50 pb-2 text-capitalize " [ngStyle]="{'color': 'var(--secondary-color)' , 'border-bottom': ' 1px solid var(--mute-color)'}">explore nearby activities
  </h5>
  <swiper-container class="mySwiper" space-between="20" centered-slides="true" speed="2000" effect="coverflow"
    pagination="false" pagination-clickable="true" navigation="false" autoplay-delay="500" loop="true" autoplay="true"
    autoplay-disable-on-interaction="false" [breakpoints]="breakPoints">
    @for (activity of activities(); track $index) {
    <swiper-slide [routerLink]="['/activity-details', activity.id]">
      <div class="activity-card" >
        <div class="card-image-container">
          <img [src]="activity.image" alt="{{activity.name}}" class="card-image" />
          <span class="category-tag">{{ activity.category }}</span>
        </div>

        <div class="card-details">
          <div class="header">
            <h3 class="activity-name">{{ activity.name }}</h3>
            <div class="rating">
              <span>{{ activity.rating }} ⭐</span>
            </div>
          </div>

          <p class="location-distance">
            {{ activity.distance }} • {{ activity.location }}
          </p>
          <p class="description-snippet">
            {{ activity.description | slice:0:100 }}...
          </p>

          <div class="footer">
            <span class="price-duration" [ngClass]="{ 'free-access': activity.price === 0 }">
              {{ activity.price === 0 ? 'Free Access' : '$' + activity.price }}
              {{ activity.price === 0 ? '' :  '/' + activity.duration }}
            </span>
            <button class="view-details-btn"  >View Details</button>
          </div>
        </div>
      </div>
    </swiper-slide>
    }
  </swiper-container>

</div>
