.container {


  .thumbnail {
    position: relative;
    background-image: url(/images/about\ us.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    border-radius: 10px;
    transition: all 0.3s linear;

    @media (max-width:992px) {
      height: 450px;
    }

    @media (max-width:768px) {
      height: 350px;
    }

    .content {
      position: relative;
      transform: translateY(100px);
      font-family: 'Times New Roman', Times, serif;
      text-transform: capitalize;
      text-wrap: balance;
      z-index: 1;
      transition: transform 0.3s linear;
      .title {
        font-size: 4.5rem;
        font-weight: 600;
        color: #FDBB2D;

        span {
          color: RGBA(2, 0, 63, 10);
        }

        @media (max-width:992px) {
          font-size: 3.5rem;
          height: 100%;

          @media (max-width:768px) {
            height: 100%;
            font-size: 2rem;
          }
        }

      }

      .sub-title {
        padding: 0 10px;
        font-size: 1.3rem;
        font-weight: 500;
        color: #FAFAFA;
        @media (max-width:992px) {
          font-size: 1rem;
        }
        @media (max-width:668px) {
          font-size: .9rem;
        }
      }

      @media (max-width:992px) {
      transform: translateY(100px);

      @media (max-width:678px) {
        transform: translateY(70px);

      }
      }

    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: RGBA(0, 0, 0, 0.2);
      border-radius: 10px;
      z-index: 0;
    }
  }

  .why-choose-us{
    .card{
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      &:hover{
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
      .title{
        color: var(--secondary-color);
        text-align: center;
        text-wrap: balance;
      }
      img{
        width: 50px;
        @media (max-width:992px) {
          width: 40px;
        }
        @media (max-width:768px) {
          width: 35px;
        }
        @media (max-width:480px) {
          width: 25px;
        }

      }
    }
  }
  .brand-story,
  .why-choose-us,
  .our-philosophy {
    margin-top: 8rem;
    margin-bottom: 8rem;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 90px;
      height: 4px;
      background-color: #FDBB2D;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 25px;


    }
    &:hover::after{
      width: 180px;
      transition: all 0.5s ease;
    }
  }
  .our-philosophy{

    img{
      &:hover{
        transform: scale(1.1);
        transition: transform 0.5s ease;
      }
    }
    .desc{
      font-size: 1.2rem;
      letter-spacing: 1px;
      color: var(--secondary-color);
      text-wrap: balance;
      position: relative;
      @media (max-width:992px) {
        font-size: 1rem;
      }
      @media (max-width:768px) {
        font-size: .9rem;
      }
        &::after{
      content: '';
      position: absolute;
      width: 0px;
      height: 4px;
      background-color: var(--secondary-color);
      top: 114%;
      left: 0%;
      border-radius: 25px;
    }
    &:hover::after{
      width: 95%;
      transition: all 0.5s ease;
    }
  }

  }
  }
