 .card {
      cursor: pointer;

      img {
        height: 240px;

        @media (max-width: 490px) {
          height: 200px;
        }

      }

      .top-layer {
        border-radius: 0 15px 0;
        background: var(--primary-color);
      }

      .title {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--secondary-color);
        margin-bottom: 5px;
      }

      .location {
        font-size: 14px;
        text-transform: capitalize;
        color: var(--mute-color);
      }
    }
