
.container{


 .detailes-card
 {

    .card {
      border: none;
      height: 235px;
      width: 100%;
      position: relative;
      border-radius: 15px;
      overflow: hidden;
      cursor: pointer;
      @media (max-width: 768px) {
        height: auto;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }


       .top-layer {
        border-radius: 0 15px 0;
        background: var(--primary-color);
      }


    }




    .feature-icon{
      width: 32px;
      height: 32px;
      @media (max-width: 768px) {
        width: 28px;
        height: 28px;

      }
    }
  }
}
